Package: libapache2-mod-passenger
Source: passenger
Version: 3.0.0-1bbox1~pre3ubuntu1
Architecture: amd64
Maintainer: John Leach <john@brightbox.co.uk>
Installed-Size: 708
Depends: libapr1 (>= 1.2.7), libaprutil1 (>= 1.2.7+dfsg), libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1), apache2.2-common, passenger-common (= 3.0.0-1bbox1~pre3ubuntu1)
Suggests: python, rails, passenger-doc
Section: web
Priority: optional
Homepage: http://www.modrails.com/
Description: Rails and Rack support for Apache2
 Phusion Passenger — a.k.a. mod_rails or mod_rack — makes
 deployment of Ruby web applications, such as those built on the
 revolutionary Ruby on Rails web framework, a breeze.
 .
 This package provides the Phusion Passenger loadable Apache module
