Package: passenger-common
Source: passenger
Version: 3.0.0-1bbox1~pre3ubuntu1
Architecture: amd64
Maintainer: John Leach <john@brightbox.co.uk>
Installed-Size: 4688
Depends: libc6 (>= 2.4), libcurl3 (>= 7.16.2-1), libev3 (>= 3.0), libgcc1 (>= 1:4.1.1), libruby1.9.1 (>= 1.9.2.0), libstdc++6 (>= 4.1.1), zlib1g (>= 1:1.1.4), ruby1.9.1
Suggests: python, rails, passenger-doc, rubygems (>= 1.0)
Conflicts: libapache2-mod-passenger (<= 2.2.1-1bbox1)
Section: web
Priority: optional
Homepage: http://www.modrails.com/
Description: Rails and Rack support for Apache2
 Phusion Passenger — a.k.a. mod_rails or mod_rack — makes
 deployment of Ruby web applications, such as those built on the
 revolutionary Ruby on Rails web framework, a breeze.
 .
 This package provides the bits of Passenger common to both its Apache
 and NGINX support.
